# venv
venv*/

# Ignore all pycache folder
**/__pycache__/

# gcloudignore
.gcloudignore

# Ignore all file in node_modules folder
node_modules/

# Ignore package-lock.json and package.json file
package-lock.json
package.json

# Ignore all file in flask_session folder
flask_session/

# Ignore database connection file
sql_helpers.py

# Ignore all file in migrations folder
.python-version
load_dummy_users.py
load_sample_collab.py
