{% extends "layout.html" %}

{% block title %}Favorite{% endblock %}
{% block body %}

    <div>
        <nav>
            <div class="nav nav-tabs" id="fav-tab" role="tablist">
              <a class="nav-link active" id="fav-titles-tab" data-bs-toggle="tab" href="#fav-titles" role="tab" aria-controls="fav-titles" aria-selected="true">Titles</a>
              <a class="nav-link" id="fav-persons-tab" data-bs-toggle="tab" href="#fav-persons" role="tab" aria-controls="fav-persons" aria-selected="false">Persons</a>
            </div>
        </nav>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="fav-titles" role="tabpanel" aria-labelledby="home-tab">
                <h2>Your favorite titles</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Title</th>
                        </tr>
                    </thead>
                    <tbody class="favorite-titles">
                        {% for title in likes['titles'] %}
                            <tr>
                                <td>
                                    {{ title['primaryTitle'] }}
                                </td>
                                <td>
                                    <button class="like" onclick="likeAction(event,'{{ title['titleId'] }}', 'unlike')">
                                        Unlike
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="fav-persons" role="tabpanel" aria-labelledby="profile-tab">
                <h2>Your favorite people</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                        </tr>
                    </thead>
                    <tbody class="favorite-names">
                        {% for name in likes['names'] %}
                            <tr>
                                <td>
                                    {{ name['primaryName'] }}
                                </td>
                                <td>
                                    <button class="like" onclick="likeAction(event, '{{ name['personId'] }}', 'unlike')">
                                        Unlike
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
    
            </div>
        </div>
    </div>

    <script>
        // Like button
        async function likeAction(event, itemId, action) {
            event.preventDefault();
            
            // Send request
            let requestData = {
                itemId: itemId,
                action: action
            };

            // Get response
            let response = await fetch('/like', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(requestData)
            });
            
            // Update button
            let result = await response.json();
            if (result.status === 'Liked') {
                event.target.textContent = 'unlike';
                event.target.setAttribute('onclick', `likeAction(event, '${itemId}', 'unlike')`);
            } else {
                event.target.textContent = 'like';
                event.target.setAttribute('onclick', `likeAction(event, '${itemId}', 'like')`);
            }
        }
    </script>

{% endblock %}