{% extends "layout.html" %}

{% block title %}Favorite{% endblock %}
{% block body %}

    <div class="q-result body-content">
        <nav>
            <div class="nav nav-tabs" id="fav-tab" role="tablist">
              <a class="nav-link active" id="fav-titles-tab" data-bs-toggle="tab" href="#fav-titles" role="tab" aria-controls="fav-titles" aria-selected="true">Titles</a>
              <a class="nav-link" id="fav-persons-tab" data-bs-toggle="tab" href="#fav-persons" role="tab" aria-controls="fav-persons" aria-selected="false">People</a>
            </div>
        </nav>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="fav-titles" role="tabpanel" aria-labelledby="home-tab">
                <table class="query-table">
                    <thead></thead>
                    <tbody class="favorite-titles">
                        {% for title in likes['titles'] %}
                            <tr>
                                <td>
                                    {{ title['primaryTitle'] }}
                                </td>
                                <td>
                                    <button class="unlike" data-id="{{ title['titleId'] }}">Unlike</button>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="fav-persons" role="tabpanel" aria-labelledby="profile-tab">
                <table class="query-table">
                    <thead></thead>
                    <tbody class="favorite-names">
                        {% for name in likes['names'] %}
                            <tr>
                                <td>
                                    {{ name['primaryName'] }}
                                </td>
                                <td>
                                    <button class="unlike" data-id="{{ name['personId'] }}">Unlike</button>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
    
            </div>
        </div>
    </div>

    <script type="module" src="./../static/scripts/main.mjs"></script>

{% endblock %}