{% extends "layout.html" %}

{% block title %}Top{% endblock %}

{% block body %}

    <input class="input_query" autocomplete="off" autofocus placeholder="Query" type="text">
    <div>
        <h2>Titles</h2>
        <table>
            <thead><tr><th>Title</th></tr></thead>
            <tbody class="q-result-titles"></tbody>
        </table>
        <h2>People</h2>
        <table>
            <thead><tr><th>Title</th></tr></thead>
            <tbody class="q-result-names"></tbody>
        </table>
    </div>

    <script type="module" src="./../static/scripts/main.mjs"></script>      

{% endblock %}
