{% extends "layout.html" %}

{% block title %}Recommendation{% endblock %}

{% block body %}
    <h1>Recommendation</h1>
    <div class="q-result body-content">
        
        <p style="padding-top: 10px;">Here are some movies you might like.</p>
        <table class="query-table">
            <thead>
                <tr>
                    <th>Titles</th>
                </tr>
            </thead>
            <tbody class="collab-reco-titles">
                {% for item in reco_collab['titles'] %}
                    <tr>
                        <td>{{ item['primaryTitle'] }}</td>
                        <td><button class="like" data-id="{{ item['itemId'] }}">Like</button></td>
                    </tr>
                {% endfor %}
            </tbody>  
        </table>
        <p style="padding-top: 10px;">Here are some persons you might like.</p>
        <table class="query-table">
            <thead>
                <tr>
                    <th>People</th>
                </tr>
            </thead>
            <tbody class="collab-reco-persons">
                {% for item in reco_collab['persons'] %}
                    <tr>
                        <td>{{ item['primaryName'] }}</td>
                        <td><button class="like" data-id="{{ item['itemId'] }}">Like</button></td>
                    </tr>
                {% endfor %}
            </tbody>  
        </table>
    </div>
    <script type="module" src="./../static/scripts/main.mjs"></script>

{% endblock %}